In [2]:
import pandas as pd
import openpyxl
import xlrd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
from matplotlib import rcParams
import re
import calendar
import os
from natsort import natsorted

import warnings
warnings.filterwarnings('ignore')

In [4]:
hm = pd.read_excel('Hmm_user.xlsx')

In [5]:
hm.shape

(581073, 3)

In [6]:
hm.head(2)

     MobileNo  City Name    State
0  9350757510  Faridabad  Haryana
1  8178845936  Faridabad  Haryana

In [13]:
sr= pd.read_excel('sr1121.xlsx')

In [14]:
sr.shape

(590526, 5)

In [17]:
sr.head(2)

         City       Date  CNT REGION_NAME  STATE_NAME
0  Chandigarh 2011-07-01   38     North 3  Chandigarh
1  Chandigarh 2011-03-01   35     North 3  Chandigarh

In [18]:
sr['STATE_NAME'] = sr['STATE_NAME'].replace(['CH'], 'Chandigarh')
sr['STATE_NAME'] = sr['STATE_NAME'].replace(['AN'], 'Andaman & Nicobar Islands')
sr['STATE_NAME'] = sr['STATE_NAME'].replace(['AP'], 'Andhra Pradesh')
sr['STATE_NAME'] = sr['STATE_NAME'].replace(['AR'], 'Arunachal Pradesh')
sr['STATE_NAME'] = sr['STATE_NAME'].replace(['AS'], 'Assam')
sr['STATE_NAME'] = sr['STATE_NAME'].replace(['BR'], 'Bihar')
sr['STATE_NAME'] = sr['STATE_NAME'].replace(['CG'], 'Chattisgarh')
sr['STATE_NAME'] = sr['STATE_NAME'].replace(['DA'], 'Daman And Diu')
sr['STATE_NAME'] = sr['STATE_NAME'].replace(['DL'], 'Delhi')
sr['STATE_NAME'] = sr['STATE_NAME'].replace(['DN'], 'Dadra & Nagar Haveli')
sr['STATE_NAME'] = sr['STATE_NAME'].replace(['GA'], 'Goa')
sr['STATE_NAME'] = sr['STATE_NAME'].replace(['GJ'], 'Gujarat')
sr['STATE_NAME'] = sr['STATE_NAME'].replace(['HP'], 'Haryana')
sr['STATE_NAME'] = sr['STATE_NAME'].replace(['HR'], 'Himachal Pradesh')
sr['STATE_NAME'] = sr['STATE_NAME'].replace(['JH'], 'Jharkhand')
sr['STATE_NAME'] = sr['STATE_NAME'].replace(['JK'], 'Jammu & Kashmir')
sr['STATE_NAME'] = sr['STATE_NAME'].replace(['KA'], 'Karnataka')
sr['STATE_NAME'] = sr['STATE_NAME'].replace(['KL'], 'Kerala')
sr['STATE_NAME'] = sr['STATE_NAME'].replace(['ME'], 'Meghalaya')
sr['STATE_NAME'] = sr['STATE_NAME'].replace(['MH'], 'Maharashtra')
sr['STATE_NAME'] = sr['STATE_NAME'].replace(['MI'], 'Mizoram')
sr['STATE_NAME'] = sr['STATE_NAME'].replace(['MN'], 'Manipur')
sr['STATE_NAME'] = sr['STATE_NAME'].replace(['MP'], 'Madhya Pradesh')
sr['STATE_NAME'] = sr['STATE_NAME'].replace(['OR'], 'Odisha')
sr['STATE_NAME'] = sr['STATE_NAME'].replace(['PB'], 'Punjab')
sr['STATE_NAME'] = sr['STATE_NAME'].replace(['PY'], 'Puducherry')
sr['STATE_NAME'] = sr['STATE_NAME'].replace(['RJ'], 'Rajasthan')
sr['STATE_NAME'] = sr['STATE_NAME'].replace(['SK'], 'Sikkim')
sr['STATE_NAME'] = sr['STATE_NAME'].replace(['TN'], 'Tamil Nadu')
sr['STATE_NAME'] = sr['STATE_NAME'].replace(['TR'], 'Tripura')
sr['STATE_NAME'] = sr['STATE_NAME'].replace(['TS'], 'Telangana')
sr['STATE_NAME'] = sr['STATE_NAME'].replace(['UK'], 'Uttarakhand')
sr['STATE_NAME'] = sr['STATE_NAME'].replace(['UP'], 'Uttar Pradesh')
sr['STATE_NAME'] = sr['STATE_NAME'].replace(['WB'], 'West Bengal')

In [19]:
sr_hm = pd.merge(hm,sr,how='outer',left_on='State',right_on='STATE_NAME',indicator=True)

MemoryError: Unable to allocate 139. GiB for an array with shape (18630284960,) and data type int64