In [1]:
#importing libraries 
import pandas as pd
import numpy as np
from geopy import distance
import warnings
#warnings.filterwarnings("ignore", category=DeprecationWarning) 
import datetime

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
# load the dataset 
df = pd.read_excel('HR38X.xltm')

In [4]:
# Display the data set
df.head()
print(df.shape)

(1666, 3)

In [5]:
df.shape

(1666, 3)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1666 entries, 0 to 1665
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Latitude     1665 non-null   float64
 1   Longitude    1665 non-null   float64
 2   Packet Time  1665 non-null   object
dtypes: float64(2), object(1)
memory usage: 39.2+ KB

In [8]:
df = df[df['Packet Time'].notna()]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1665 entries, 0 to 1664
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Latitude     1665 non-null   float64
 1   Longitude    1665 non-null   float64
 2   Packet Time  1665 non-null   object
dtypes: float64(2), object(1)
memory usage: 52.0+ KB

In [22]:
df['Packet Time'] = pd.to_datetime(df['Packet Time'])

In [23]:
df['Time_diff'] = [x.iloc[-1] - x.iloc[0] for x in df['Packet Time'].rolling(2) if len(x)>0]

In [25]:
df['Time_diff'].value_counts()

0 days 00:05:00    1445
0 days 00:06:00     214
0 days 00:07:00       3
0 days 00:39:00       1
0 days 00:04:00       1
0 days 00:00:00       1
Name: Time_diff, dtype: int64

In [26]:
df['Time_diff'].sum()

Timedelta('5 days 22:53:00')

In [27]:
def haversine_distance(lat1, lon1, lat2, lon2):
   r = 6371
   phi1 = np.radians(lat1)
   phi2 = np.radians(lat2)
   delta_phi = np.radians(lat2 - lat1)
   delta_lambda = np.radians(lon2 - lon1)
   a = np.sin(delta_phi / 2)**2 + np.cos(phi1) * np.cos(phi2) *   np.sin(delta_lambda / 2)**2
   res = r * (2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a)))
   return np.round(res, 2)

In [28]:
# Setting dealer's location 
df['dealer_lat'] = 30.3255646

In [29]:
df['dealer_long'] = 78.0436813

In [30]:
dealer_lat = 30.3255646
dealer_long = 78.0436813


distances_km = []
for row in df.itertuples(index=False):
   distances_km.append(
       haversine_distance(dealer_lat, dealer_long, row.Latitude, row.Longitude)
   )

In [31]:
df['Distance'] = distances_km

In [32]:
df['Distance'].min()

648.3

In [33]:
df.iloc[np.where(df.Distance==df.Distance.min())]

,Latitude,Longitude,Packet Time,dealer_lat,dealer_long,Distance,Time_diff
1478,25.342077,74.619530,2021-10-04 08:09:00,30.325565,78.043681,648.3,0 days 00:05:00
1479,25.342077,74.619568,2021-10-04 08:14:00,30.325565,78.043681,648.3,0 days 00:05:00
1480,25.342077,74.619568,2021-10-04 08:20:00,30.325565,78.043681,648.3,0 days 00:06:00
1481,25.342077,74.619568,2021-10-04 08:25:00,30.325565,78.043681,648.3,0 days 00:05:00
1482,25.342064,74.619560,2021-10-04 08:30:00,30.325565,78.043681,648.3,0 days 00:05:00
1483,25.342064,74.619560,2021-10-04 08:35:00,30.325565,78.043681,648.3,0 days 00:05:00
1484,25.342064,74.619560,2021-10-04 08:40:00,30.325565,78.043681,648.3,0 days 00:05:00
1485,25.342064,74.619560,2021-10-04 08:45:00,30.325565,78.043681,648.3,0 days 00:05:00
1486,25.342064,74.619560,2021-10-04 08:50:00,30.325565,78.043681,648.3,0 days 00:05:00
1487,25.342064,74.619560,2021-10-04 08:56:00,30.325565,78.043681,648.3,0 days 00:06:00
1488,25.342064,74.619560,2021-10-04 09:01:00,30.325565,78.043681,648.3,0 days 00:05:00
1489,25.342064,74.619560,2021-10-04 09:06:00,30.325565,78.043681,648.3,0 days 00:05:00
1490,25.342064,74.619560,2021-10-04 09:11:00,30.325565,78.043681,648.3,0 days 00:05:00
1491,25.342064,74.619560,2021-10-04 09:16:00,30.325565,78.043681,648.3,0 days 00:05:00
1492,25.342064,74.619560,2021-10-04 09:21:00,30.325565,78.043681,648.3,0 days 00:05:00
1493,25.342064,74.619560,2021-10-04 09:26:00,30.325565,78.043681,648.3,0 days 00:05:00
1494,25.342064,74.619560,2021-10-04 09:31:00,30.325565,78.043681,648.3,0 days 00:05:00
1495,25.342064,74.619560,2021-10-04 09:36:00,30.325565,78.043681,648.3,0 days 00:05:00
1496,25.342064,74.619560,2021-10-04 09:41:00,30.325565,78.043681,648.3,0 days 00:05:00
1497,25.342045,74.619568,2021-10-04 09:47:00,30.325565,78.043681,648.3,0 days 00:06:00
1498,25.342045,74.619568,2021-10-04 09:52:00,30.325565,78.043681,648.3,0 days 00:05:00
1499,25.342045,74.619568,2021-10-04 09:57:00,30.325565,78.043681,648.3,0 days 00:05:00
1500,25.342045,74.619568,2021-10-04 10:02:00,30.325565,78.043681,648.3,0 days 00:05:00
1501,25.342045,74.619568,2021-10-04 10:07:00,30.325565,78.043681,648.3,0 days 00:05:00
1502,25.342045,74.619568,2021-10-04 10:12:00,30.325565,78.043681,648.3,0 days 00:05:00
1503,25.342045,74.619568,2021-10-04 10:17:00,30.325565,78.043681,648.3,0 days 00:05:00
1504,25.342045,74.619568,2021-10-04 10:22:00,30.325565,78.043681,648.3,0 days 00:05:00
1505,25.342045,74.619568,2021-10-04 10:27:00,30.325565,78.043681,648.3,0 days 00:05:00
1506,25.342045,74.619568,2021-10-04 10:33:00,30.325565,78.043681,648.3,0 days 00:06:00
1507,25.342045,74.619568,2021-10-04 10:38:00,30.325565,78.043681,648.3,0 days 00:05:00

In [34]:
df.Distance.min()

648.3

In [35]:
from haversine import haversine

In [36]:
print(haversine((25.342077,74.619530),(30.325565,78.043681), unit='km'))

648.3035174328513

In [224]:
df['Status'] = np.where(df['Distance']!= df['Distance'].min(), 'In-transit', 'Unloading-Point')

In [226]:
df.shape

(1665, 8)

In [225]:
df.iloc[np.where(df.Distance==df.Distance.min())]

,Latitude,Longitude,Packet Time,dealer_lat,dealer_long,Distance,Time_diff,Status
1478,25.342077,74.619530,2021-10-04 08:09:00,30.325565,78.043681,648.3,0 days 00:05:00,Unloading-Point
1479,25.342077,74.619568,2021-10-04 08:14:00,30.325565,78.043681,648.3,0 days 00:05:00,Unloading-Point
1480,25.342077,74.619568,2021-10-04 08:20:00,30.325565,78.043681,648.3,0 days 00:06:00,Unloading-Point
1481,25.342077,74.619568,2021-10-04 08:25:00,30.325565,78.043681,648.3,0 days 00:05:00,Unloading-Point
1482,25.342064,74.619560,2021-10-04 08:30:00,30.325565,78.043681,648.3,0 days 00:05:00,Unloading-Point
1483,25.342064,74.619560,2021-10-04 08:35:00,30.325565,78.043681,648.3,0 days 00:05:00,Unloading-Point
1484,25.342064,74.619560,2021-10-04 08:40:00,30.325565,78.043681,648.3,0 days 00:05:00,Unloading-Point
1485,25.342064,74.619560,2021-10-04 08:45:00,30.325565,78.043681,648.3,0 days 00:05:00,Unloading-Point
1486,25.342064,74.619560,2021-10-04 08:50:00,30.325565,78.043681,648.3,0 days 00:05:00,Unloading-Point
1487,25.342064,74.619560,2021-10-04 08:56:00,30.325565,78.043681,648.3,0 days 00:06:00,Unloading-Point
1488,25.342064,74.619560,2021-10-04 09:01:00,30.325565,78.043681,648.3,0 days 00:05:00,Unloading-Point
1489,25.342064,74.619560,2021-10-04 09:06:00,30.325565,78.043681,648.3,0 days 00:05:00,Unloading-Point
1490,25.342064,74.619560,2021-10-04 09:11:00,30.325565,78.043681,648.3,0 days 00:05:00,Unloading-Point
1491,25.342064,74.619560,2021-10-04 09:16:00,30.325565,78.043681,648.3,0 days 00:05:00,Unloading-Point
1492,25.342064,74.619560,2021-10-04 09:21:00,30.325565,78.043681,648.3,0 days 00:05:00,Unloading-Point
1493,25.342064,74.619560,2021-10-04 09:26:00,30.325565,78.043681,648.3,0 days 00:05:00,Unloading-Point
1494,25.342064,74.619560,2021-10-04 09:31:00,30.325565,78.043681,648.3,0 days 00:05:00,Unloading-Point
1495,25.342064,74.619560,2021-10-04 09:36:00,30.325565,78.043681,648.3,0 days 00:05:00,Unloading-Point
1496,25.342064,74.619560,2021-10-04 09:41:00,30.325565,78.043681,648.3,0 days 00:05:00,Unloading-Point
1497,25.342045,74.619568,2021-10-04 09:47:00,30.325565,78.043681,648.3,0 days 00:06:00,Unloading-Point
1498,25.342045,74.619568,2021-10-04 09:52:00,30.325565,78.043681,648.3,0 days 00:05:00,Unloading-Point
1499,25.342045,74.619568,2021-10-04 09:57:00,30.325565,78.043681,648.3,0 days 00:05:00,Unloading-Point
1500,25.342045,74.619568,2021-10-04 10:02:00,30.325565,78.043681,648.3,0 days 00:05:00,Unloading-Point
1501,25.342045,74.619568,2021-10-04 10:07:00,30.325565,78.043681,648.3,0 days 00:05:00,Unloading-Point
1502,25.342045,74.619568,2021-10-04 10:12:00,30.325565,78.043681,648.3,0 days 00:05:00,Unloading-Point
1503,25.342045,74.619568,2021-10-04 10:17:00,30.325565,78.043681,648.3,0 days 00:05:00,Unloading-Point
1504,25.342045,74.619568,2021-10-04 10:22:00,30.325565,78.043681,648.3,0 days 00:05:00,Unloading-Point
1505,25.342045,74.619568,2021-10-04 10:27:00,30.325565,78.043681,648.3,0 days 00:05:00,Unloading-Point
1506,25.342045,74.619568,2021-10-04 10:33:00,30.325565,78.043681,648.3,0 days 00:06:00,Unloading-Point
1507,25.342045,74.619568,2021-10-04 10:38:00,30.325565,78.043681,648.3,0 days 00:05:00,Unloading-Point

In [385]:
# dataset with stop at unloading point

In [390]:
df.shape

(1665, 8)

In [391]:
1665 - 1479

186

In [230]:
df_new = df[0:1479]

In [394]:
df_new.shape

(1479, 9)

In [231]:
df_new.head(1)

,Latitude,Longitude,Packet Time,dealer_lat,dealer_long,Distance,Time_diff,Status
0,13.007143,80.006966,2021-09-29 01:06:00,30.325565,78.043681,1936.26,0 days,In-transit

In [232]:
df_new.tail(1)

,Latitude,Longitude,Packet Time,dealer_lat,dealer_long,Distance,Time_diff,Status
1478,25.342077,74.61953,2021-10-04 08:09:00,30.325565,78.043681,648.3,0 days 00:05:00,Unloading-Point

In [417]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/80.006966,13.007143;74.61953,25.342077;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 1835585.8, 2197800]],
  'code': 'Ok',
  'durations': [[0, 150102.6, 146893.1]]},
 'responseCode': 200}

In [418]:
1835585.8/1000

1835.5858

In [233]:
df_new['Status'].value_counts()

In-transit         1478
Unloading-Point       1
Name: Status, dtype: int64

In [235]:
df_new['Time_diff'] = [x.iloc[-1] - x.iloc[0] for x in df_new['Packet Time'].rolling(2) if len(x)>0]

In [236]:
df_new['Time_diff'].value_counts()

0 days 00:05:00    1281
0 days 00:06:00     193
0 days 00:07:00       3
0 days 00:39:00       1
0 days 00:00:00       1
Name: Time_diff, dtype: int64

In [237]:
df_new['Time_diff'].sum()

Timedelta('5 days 07:03:00')

In [238]:
dt1 = '2021-09-29 01:06:00'
d1 = pd.to_datetime(dt1)
dt2 = '2021-10-04 08:09:00'
d2 = pd.to_datetime(dt2)

a = d2-d1
a

Timedelta('5 days 07:03:00')

In [363]:
# Concatinate latitude and Longitude -> convert it to string 
df_new['Lat,Lngt'] = df_new["Latitude"].astype(str) + df_new["Longitude"].astype(str)

In [361]:
## stoppage time new

In [365]:
hr8xgby = df_new.groupby('Lat,Lngt').agg({'Time_diff': np.sum})

In [414]:
hr8xgby.value_counts()

Time_diff
0 days 00:05:00    568
0 days 00:06:00     97
0 days 00:16:00      6
0 days 00:10:00      5
0 days 00:11:00      4
0 days 00:15:00      4
0 days 00:21:00      3
0 days 00:36:00      3
0 days 00:07:00      2
0 days 00:26:00      2
0 days 07:13:00      1
0 days 00:12:00      1
0 days 00:20:00      1
0 days 00:41:00      1
0 days 00:42:00      1
0 days 00:54:00      1
0 days 08:20:00      1
0 days 01:07:00      1
0 days 01:12:00      1
0 days 01:17:00      1
0 days 01:37:00      1
0 days 02:03:00      1
0 days 02:07:00      1
0 days 02:29:00      1
0 days 02:38:00      1
0 days 03:29:00      1
0 days 03:30:00      1
0 days 03:55:00      1
0 days 04:56:00      1
0 days 05:53:00      1
0 days 06:13:00      1
0 days 01:06:00      1
dtype: int64

In [367]:
hr8xgby['Time_diff'].sum()

Timedelta('5 days 07:03:00')

In [368]:
hr8xgby_res = hr8xgby[hr8xgby['Time_diff'] >= '01:00:00']

In [416]:
hr8xgby_res

                         Time_diff
Lat,Lngt
12.54626778.199791 0 days 01:17:00
12.85359878.819534 0 days 03:29:00
12.99524880.012947 0 days 03:30:00
13.0070780.006927  0 days 06:13:00
13.00714380.006966 0 days 08:20:00
13.0841977.414391  0 days 02:07:00
13.77332276.841843 0 days 03:55:00
13.78801476.812935 0 days 07:13:00
13.7880576.812973  0 days 02:29:00
13.91919976.65313  0 days 01:07:00
13.9192276.653038  0 days 01:06:00
13.91945976.65329  0 days 02:38:00
13.91955476.653244 0 days 05:53:00
15.87767676.166298 0 days 01:12:00
15.8777676.166298  0 days 02:03:00
19.97592774.490303 0 days 04:56:00
20.5962774.601501  0 days 01:37:00

In [39]:
## stoppage time

In [239]:
df_new.groupby(['Latitude', 'Longitude'])['Longitude'].value_counts()

Latitude   Longitude  Longitude
12.511117  78.228058  78.228058    1
12.521858  78.211182  78.211182    1
12.533783  78.287346  78.287346    1
12.535763  78.253349  78.253349    1
12.536282  78.384140  78.384140    1
                                  ..
25.310026  74.567764  74.567764    1
25.315237  74.567245  74.567245    1
25.328020  74.586906  74.586906    1
25.336262  74.604301  74.604301    1
25.342077  74.619530  74.619530    1
Name: Longitude, Length: 716, dtype: int64

In [242]:
hr38x=df_new.groupby(['Latitude', 'Longitude']).agg({'Time_diff':['sum']})

In [243]:
hr38x

                          Time_diff
                                sum
Latitude  Longitude
12.511117 78.228058 0 days 00:05:00
12.521858 78.211182 0 days 00:05:00
12.533783 78.287346 0 days 00:05:00
12.535763 78.253349 0 days 00:05:00
12.536282 78.384140 0 days 00:05:00
...                             ...
25.310026 74.567764 0 days 00:05:00
25.315237 74.567245 0 days 00:05:00
25.328020 74.586906 0 days 00:05:00
25.336262 74.604301 0 days 00:05:00
25.342077 74.619530 0 days 00:05:00

[716 rows x 1 columns]

In [44]:
df1 = pd.read_excel("C:\\Users\\274827\\Downloads\\hr38x7641.xltm")

In [45]:
df1

      Latitude  Longitude                min                max
0    12.511117  78.228058  30-Sep-2021 06:17  30-Sep-2021 06:17
1    12.521858  78.211182  30-Sep-2021 06:22  30-Sep-2021 06:22
2    12.533783  78.287346  30-Sep-2021 06:07  30-Sep-2021 06:07
3    12.535763  78.253349  30-Sep-2021 06:12  30-Sep-2021 06:12
4    12.536282  78.384140  30-Sep-2021 05:51  30-Sep-2021 05:51
..         ...        ...                ...                ...
772  25.340065  74.613731  04-Oct-2021 10:43  04-Oct-2021 10:43
773  25.342045  74.619568  04-Oct-2021 09:47  04-Oct-2021 10:38
774  25.342064  74.619560  04-Oct-2021 08:30  04-Oct-2021 09:41
775  25.342077  74.619530  04-Oct-2021 08:09  04-Oct-2021 08:09
776        NaN  74.619568  04-Oct-2021 08:14  04-Oct-2021 08:25

[777 rows x 4 columns]

In [46]:
df1['max']=pd.to_datetime(df1['max'])

In [47]:
df1['min']=pd.to_datetime(df1['min'])

In [48]:
df1['diff']=df1['max']-df1['min']

In [197]:
df1['diff'].count()

777

In [201]:
stoppage = df1[df1['diff'] >= '1:00:00']

In [202]:
stoppage['diff'].count()

20

In [51]:
print(stoppage['diff'].min())
print(stoppage['diff'].max())
print(stoppage['diff'].mean())
print(stoppage['diff'].median())

0 days 01:01:00
0 days 08:20:00
0 days 02:59:21
0 days 02:12:30

In [67]:
# Dataset 2 

df_gj = pd.read_excel("D:\\Sales Logistic Project\\GJ12BV6093.xltm")

In [68]:
df_gj.shape

(2019, 2)

In [69]:
df_gj = df_gj[df_gj['Lat,Lngt'].notna()]

In [70]:
df_gj.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2018 entries, 0 to 2017
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Lat,Lngt  2018 non-null   object
 1   Period    2018 non-null   object
dtypes: object(2)
memory usage: 47.3+ KB

In [71]:
df_gj.head(2)

              Lat,Lngt                     Period
0  13.004329,79.990362  01/10 10:10 : 01/10 10:15
1  13.004329,79.990362  01/10 10:15 : 01/10 10:20

In [72]:
#splitting date col 
df_gj[['Latitude', 'Longitude']] = df_gj['Lat,Lngt'].str.split(',', 1, expand=True)

In [73]:
df_gj['Latitude'] = df_gj['Latitude'].astype(float)

In [74]:
df_gj['Longitude'] = df_gj['Longitude'].astype(float)

In [75]:
df_gj

                 Lat,Lngt                     Period   Latitude  Longitude
0     13.004329,79.990362  01/10 10:10 : 01/10 10:15  13.004329  79.990362
1     13.004329,79.990362  01/10 10:15 : 01/10 10:20  13.004329  79.990362
2     13.004329,79.990362  01/10 10:20 : 01/10 10:25  13.004329  79.990362
3     13.004329,79.990362  01/10 10:25 : 01/10 10:30  13.004329  79.990362
4     13.004329,79.990362  01/10 10:30 : 01/10 10:35  13.004329  79.990362
...                   ...                        ...        ...        ...
2013  30.381981,76.790381  08/10 10:35 : 08/10 10:40  30.381981  76.790381
2014  30.381981,76.790381  08/10 10:40 : 08/10 10:45  30.381981  76.790381
2015  30.381981,76.790381  08/10 10:45 : 08/10 10:50  30.381981  76.790381
2016  30.381981,76.790381  08/10 10:50 : 08/10 10:55  30.381981  76.790381
2017  30.381981,76.790381  08/10 10:55 : 08/10 10:56  30.381981  76.790381

[2018 rows x 4 columns]

In [76]:
#df_gj['start_dt'] = df_gj['Period'].map(lambda x:"2021"+"-"+str(x)[0:2]+"-"+str(x)[3:5]+" "+str(x)[6:11])
df_gj['start_dt'] = df_gj['Period'].map(lambda x:"2021"+"-"+str(x)[3:5]+"-"+str(x)[0:2]+" "+str(x)[6:11])
df_gj['start_dt'].head(2)

0    2021-10-01 10:10
1    2021-10-01 10:15
Name: start_dt, dtype: object

In [77]:
#df_gj['end_dt'] = df_gj['Period'].map(lambda x:"2021"+"-"+str(x)[13:16]+"-"+str(x)[17:20]+" "+str(x)[20:25])
df_gj['end_dt'] = df_gj['Period'].map(lambda x:"2021"+"-"+str(x)[17:20]+"-"+str(x)[13:16]+" "+str(x)[20:25])
df_gj['end_dt'].head(2)

0    2021-10 - 01 10:15
1    2021-10 - 01 10:20
Name: end_dt, dtype: object

In [78]:
df_gj['start_dt'] = pd.to_datetime(df_gj['start_dt'])

In [79]:
df_gj['end_dt'] = pd.to_datetime(df_gj['end_dt'])

In [80]:
df_gj['time_diff_test'] = df_gj['end_dt'] - df_gj['start_dt']

In [81]:
df_gj['time_diff_test'].value_counts()

0 days 00:05:00    2017
0 days 00:01:00       1
Name: time_diff_test, dtype: int64

In [82]:
df_gj['Time_diff'] = [x.iloc[-1] - x.iloc[0] for x in df_gj['end_dt'].rolling(2) if len(x)>0]

In [83]:
df_gj['Time_diff'].value_counts()

0 days 00:05:00    2008
0 days 00:10:00       8
0 days 00:01:00       1
0 days 00:00:00       1
Name: Time_diff, dtype: int64

In [98]:
df_gj['Time_diff'].sum()

Timedelta('7 days 00:41:00')

In [84]:
df_gj['dealer_lat'] = 30.384662

In [85]:
df_gj['dealer_long'] = 76.786064

In [86]:
df_gj

,"Lat,Lngt",Period,Latitude,Longitude,start_dt,end_dt,time_diff_test,Time_diff,dealer_lat,dealer_long
0,"13.004329,79.990362",01/10 10:10 : 01/10 10:15,13.004329,79.990362,2021-10-01 10:10:00,2021-10-01 10:15:00,0 days 00:05:00,0 days 00:00:00,30.384662,76.786064
1,"13.004329,79.990362",01/10 10:15 : 01/10 10:20,13.004329,79.990362,2021-10-01 10:15:00,2021-10-01 10:20:00,0 days 00:05:00,0 days 00:05:00,30.384662,76.786064
2,"13.004329,79.990362",01/10 10:20 : 01/10 10:25,13.004329,79.990362,2021-10-01 10:20:00,2021-10-01 10:25:00,0 days 00:05:00,0 days 00:05:00,30.384662,76.786064
3,"13.004329,79.990362",01/10 10:25 : 01/10 10:30,13.004329,79.990362,2021-10-01 10:25:00,2021-10-01 10:30:00,0 days 00:05:00,0 days 00:05:00,30.384662,76.786064
4,"13.004329,79.990362",01/10 10:30 : 01/10 10:35,13.004329,79.990362,2021-10-01 10:30:00,2021-10-01 10:35:00,0 days 00:05:00,0 days 00:05:00,30.384662,76.786064
...,...,...,...,...,...,...,...,...,...,...
2013,"30.381981,76.790381",08/10 10:35 : 08/10 10:40,30.381981,76.790381,2021-10-08 10:35:00,2021-10-08 10:40:00,0 days 00:05:00,0 days 00:05:00,30.384662,76.786064
2014,"30.381981,76.790381",08/10 10:40 : 08/10 10:45,30.381981,76.790381,2021-10-08 10:40:00,2021-10-08 10:45:00,0 days 00:05:00,0 days 00:05:00,30.384662,76.786064
2015,"30.381981,76.790381",08/10 10:45 : 08/10 10:50,30.381981,76.790381,2021-10-08 10:45:00,2021-10-08 10:50:00,0 days 00:05:00,0 days 00:05:00,30.384662,76.786064
2016,"30.381981,76.790381",08/10 10:50 : 08/10 10:55,30.381981,76.790381,2021-10-08 10:50:00,2021-10-08 10:55:00,0 days 00:05:00,0 days 00:05:00,30.384662,76.786064
2017,"30.381981,76.790381",08/10 10:55 : 08/10 10:56,30.381981,76.790381,2021-10-08 10:55:00,2021-10-08 10:56:00,0 days 00:01:00,0 days 00:01:00,30.384662,76.786064

In [87]:
## 
dealer_lat = 30.384662
dealer_long = 76.786064

#straight line dist

distances_km = []
for row in df_gj.itertuples(index=False):
   distances_km.append(
       haversine_distance(dealer_lat, dealer_long, row.Latitude, row.Longitude)
   )

In [88]:
df_gj['Distance'] = distances_km

In [89]:
df_gj[0:1]

,"Lat,Lngt",Period,Latitude,Longitude,start_dt,end_dt,time_diff_test,Time_diff,dealer_lat,dealer_long,Distance
0,"13.004329,79.990362",01/10 10:10 : 01/10 10:15,13.004329,79.990362,2021-10-01 10:10:00,2021-10-01 10:15:00,0 days 00:05:00,0 days,30.384662,76.786064,1960.44

In [90]:
df_gj.Distance.min()

0.42

In [91]:
df_gj.iloc[np.where(df_gj.Distance==df_gj.Distance.min())]

,"Lat,Lngt",Period,Latitude,Longitude,start_dt,end_dt,time_diff_test,Time_diff,dealer_lat,dealer_long,Distance
1965,"30.38216,76.789293",08/10 06:35 : 08/10 06:40,30.38216,76.789293,2021-10-08 06:35:00,2021-10-08 06:40:00,0 days 00:05:00,0 days 00:05:00,30.384662,76.786064,0.42

In [92]:
df_gj.describe()

,Latitude,Longitude,time_diff_test,Time_diff,dealer_lat,dealer_long,Distance
count,2018.000000,2018.000000,2018,2018,2.018000e+03,2.018000e+03,2018.000000
mean,20.549977,76.969307,0 days 00:04:59.881070366,0 days 00:05:00.921704658,3.038466e+01,7.678606e+01,1103.348523
std,6.128710,1.635098,0 days 00:00:05.342575408,0 days 00:00:20.719406777,1.332598e-12,2.146371e-12,686.281094
min,12.507226,74.434330,0 days 00:01:00,0 days 00:00:00,3.038466e+01,7.678606e+01,0.420000
25%,14.572178,75.855616,0 days 00:05:00,0 days 00:05:00,3.038466e+01,7.678606e+01,485.825000
50%,20.476463,76.790381,0 days 00:05:00,0 days 00:05:00,3.038466e+01,7.678606e+01,1125.145000
75%,26.212173,77.606368,0 days 00:05:00,0 days 00:05:00,3.038466e+01,7.678606e+01,1758.620000
max,30.382160,80.029286,0 days 00:05:00,0 days 00:10:00,3.038466e+01,7.678606e+01,1993.360000

In [594]:
df_gj.iloc[np.where(df_gj.Distance==df_gj.Distance.min())]

,"Lat,Lngt",Period,Latitude,Longitude,start_dt,end_dt,Time_diff,dealer_lat,dealer_long,Distance
1965,"30.38216,76.789293",08/10 06:35 : 08/10 06:40,30.38216,76.789293,2021-08-10 06:35:00,2021-08-10 06:40:00,0 days 00:05:00,30.384662,76.786064,0.42

In [93]:
df_gj['Status'] = np.where(df_gj['Distance']!= df_gj['Distance'].min(), 'In-transit', 'Unloading-Point')

In [94]:
df_gj.shape

(2018, 12)

In [95]:
df_filtered = df_gj[0::20]

In [96]:
df_filtered.shape

(101, 12)

In [599]:
df_filtered.to_excel("filtered_93.xlsx")

In [97]:
df_gj[['Distance','Status']].min()

Distance          0.42
Status      In-transit
dtype: object

In [601]:
df_gj[0:1]

,"Lat,Lngt",Period,Latitude,Longitude,start_dt,end_dt,Time_diff,dealer_lat,dealer_long,Distance,Status
0,"13.004329,79.990362",01/10 10:10 : 01/10 10:15,13.004329,79.990362,2021-01-10 10:10:00,2021-01-10 10:15:00,0 days 00:05:00,30.384662,76.786064,1960.44,In-transit

In [602]:
df_gj.iloc[np.where(df_gj.Distance==df_gj.Distance.min())]

,"Lat,Lngt",Period,Latitude,Longitude,start_dt,end_dt,Time_diff,dealer_lat,dealer_long,Distance,Status
1965,"30.38216,76.789293",08/10 06:35 : 08/10 06:40,30.38216,76.789293,2021-08-10 06:35:00,2021-08-10 06:40:00,0 days 00:05:00,30.384662,76.786064,0.42,Completed

In [388]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/79.990362,13.004329;76.786064,30.384662;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 2429357.2, 2198610.8]],
  'code': 'Ok',
  'durations': [[0, 160435.4, 146681.7]]},
 'responseCode': 200}

In [389]:
2429357.2/1000

2429.3572000000004

In [ ]:
gmap - 2423 / map my india 2428

In [223]:
df_gj.to_excel("df_gj.xlsx")

In [244]:
df_gj_new = df_gj[0:1966]

In [395]:
df_gj_new.shape

(1966, 12)

In [252]:
df_gj_new.head(1)

,"Lat,Lngt",Period,Latitude,Longitude,start_dt,end_dt,time_diff_test,Time_diff,dealer_lat,dealer_long,Distance,Status
0,"13.004329,79.990362",01/10 10:10 : 01/10 10:15,13.004329,79.990362,2021-10-01 10:10:00,2021-10-01 10:15:00,0 days 00:05:00,0 days,30.384662,76.786064,1960.44,In-transit

In [246]:
df_gj_new.tail(1)

,"Lat,Lngt",Period,Latitude,Longitude,start_dt,end_dt,time_diff_test,Time_diff,dealer_lat,dealer_long,Distance,Status
1965,"30.38216,76.789293",08/10 06:35 : 08/10 06:40,30.38216,76.789293,2021-10-08 06:35:00,2021-10-08 06:40:00,0 days 00:05:00,0 days 00:05:00,30.384662,76.786064,0.42,Unloading-Point

In [247]:
df_gj_new['Status'].value_counts()

In-transit         1965
Unloading-Point       1
Name: Status, dtype: int64

In [248]:
df_gj_new['Time_diff'] = [x.iloc[-1] - x.iloc[0] for x in df_gj_new['end_dt'].rolling(2) if len(x)>0]

In [250]:
df_gj_new['Time_diff'].value_counts()

0 days 00:05:00    1957
0 days 00:10:00       8
0 days 00:00:00       1
Name: Time_diff, dtype: int64

In [251]:
df_gj_new['Time_diff'].sum()

Timedelta('6 days 20:25:00')

In [253]:
dt1 = '2021-10-01 10:15:00'
d1 = pd.to_datetime(dt1)
dt2 = '2021-10-08 06:40:00'
d2 = pd.to_datetime(dt2)

a = d2-d1
a

Timedelta('6 days 20:25:00')

In [ ]:
## stoppage time new

In [355]:
GJ93gby = df_gj_new.groupby('Lat,Lngt').agg({'Time_diff': np.sum})

In [412]:
GJ93gby['Time_diff'].value_counts()

0 days 00:05:00    924
0 days 00:10:00      5
0 days 00:40:00      3
0 days 00:15:00      3
0 days 00:55:00      3
0 days 01:30:00      2
0 days 07:30:00      1
0 days 07:35:00      1
0 days 00:20:00      1
0 days 07:40:00      1
0 days 02:55:00      1
0 days 00:30:00      1
0 days 07:55:00      1
0 days 02:25:00      1
0 days 00:45:00      1
0 days 04:30:00      1
0 days 00:50:00      1
0 days 05:50:00      1
0 days 01:05:00      1
0 days 03:40:00      1
0 days 01:25:00      1
0 days 01:35:00      1
0 days 11:25:00      1
0 days 06:55:00      1
0 days 03:15:00      1
Name: Time_diff, dtype: int64

In [400]:
GJ93gby.count()

Time_diff    959
dtype: int64

In [397]:
GJ93gby.to_excel("GJ93.xlsx")

In [359]:
GJ93stop_res =GJ93gby[GJ93gby['Time_diff'] >= '1:00:00']

In [413]:
GJ93stop_res

                          Time_diff
Lat,Lngt
12.993878,80.012512 0 days 03:15:00
13.00429,79.990406  0 days 03:40:00
13.004315,79.990374 0 days 07:40:00
13.004329,79.990362 0 days 07:30:00
14.572178,76.440531 0 days 06:55:00
15.499821,76.267514 0 days 01:30:00
16.429733,75.907648 0 days 01:25:00
17.476622,75.855616 0 days 07:55:00
18.705057,75.037594 0 days 01:05:00
20.755903,74.721274 0 days 07:35:00
21.819916,75.18105  0 days 01:30:00
23.612387,76.539718 0 days 04:30:00
25.148689,77.606368 0 days 01:35:00
25.148849,77.606368 0 days 02:25:00
27.947184,77.347354 0 days 05:50:00
28.797516,76.614259 0 days 02:55:00
30.02458,76.884979  0 days 11:25:00

## stoppage time

In [106]:
df_gj93=df_gj.groupby(['Latitude', 'Longitude']).agg({'end_dt':['min','max']})

In [107]:
df_gj93

                                 end_dt
                                    min                 max
Latitude  Longitude
12.507226 78.222195 2021-10-02 16:50:00 2021-10-02 16:50:00
12.531898 78.205101 2021-10-02 16:55:00 2021-10-02 16:55:00
12.533019 78.245030 2021-10-02 16:45:00 2021-10-02 16:45:00
12.535596 78.386611 2021-10-02 16:25:00 2021-10-02 16:25:00
12.536052 78.280563 2021-10-02 16:40:00 2021-10-02 16:40:00
...                                 ...                 ...
30.352991 76.805914 2021-10-08 06:35:00 2021-10-08 06:35:00
30.381958 76.790381 2021-10-08 06:45:00 2021-10-08 06:45:00
30.381962 76.790381 2021-10-08 06:50:00 2021-10-08 06:50:00
30.381981 76.790381 2021-10-08 06:55:00 2021-10-08 10:56:00
30.382160 76.789293 2021-10-08 06:40:00 2021-10-08 06:40:00

[962 rows x 2 columns]

In [109]:
df_gj93.to_excel("gj93.xlsx")

In [110]:
df_gj93 = pd.read_excel("D:Sales Logistic Project\\gj93.xltm")

In [111]:
df_gj93

      Latitude  Longitude                 min                 max
0    12.507226  78.222195 2021-10-02 16:50:00 2021-10-02 16:50:00
1    12.531898  78.205101 2021-10-02 16:55:00 2021-10-02 16:55:00
2    12.533019  78.245030 2021-10-02 16:45:00 2021-10-02 16:45:00
3    12.535596  78.386611 2021-10-02 16:25:00 2021-10-02 16:25:00
4    12.536052  78.280563 2021-10-02 16:40:00 2021-10-02 16:40:00
..         ...        ...                 ...                 ...
957  30.352991  76.805914 2021-10-08 06:35:00 2021-10-08 06:35:00
958  30.381958  76.790381 2021-10-08 06:45:00 2021-10-08 06:45:00
959  30.381962  76.790381 2021-10-08 06:50:00 2021-10-08 06:50:00
960  30.381981  76.790381 2021-10-08 06:55:00 2021-10-08 10:56:00
961  30.382160  76.789293 2021-10-08 06:40:00 2021-10-08 06:40:00

[962 rows x 4 columns]

In [204]:
df_gj93['diff'].count()

962

In [112]:
df_gj93['max']=pd.to_datetime(df_gj93['max'])

In [113]:
df_gj93['min']=pd.to_datetime(df_gj93['min'])

In [114]:
df_gj93['diff']=df_gj93['max']-df_gj93['min']

In [115]:
df_gj93

,Latitude,Longitude,min,max,diff
0,12.507226,78.222195,2021-10-02 16:50:00,2021-10-02 16:50:00,0 days 00:00:00
1,12.531898,78.205101,2021-10-02 16:55:00,2021-10-02 16:55:00,0 days 00:00:00
2,12.533019,78.245030,2021-10-02 16:45:00,2021-10-02 16:45:00,0 days 00:00:00
3,12.535596,78.386611,2021-10-02 16:25:00,2021-10-02 16:25:00,0 days 00:00:00
4,12.536052,78.280563,2021-10-02 16:40:00,2021-10-02 16:40:00,0 days 00:00:00
...,...,...,...,...,...
957,30.352991,76.805914,2021-10-08 06:35:00,2021-10-08 06:35:00,0 days 00:00:00
958,30.381958,76.790381,2021-10-08 06:45:00,2021-10-08 06:45:00,0 days 00:00:00
959,30.381962,76.790381,2021-10-08 06:50:00,2021-10-08 06:50:00,0 days 00:00:00
960,30.381981,76.790381,2021-10-08 06:55:00,2021-10-08 10:56:00,0 days 04:01:00
961,30.382160,76.789293,2021-10-08 06:40:00,2021-10-08 06:40:00,0 days 00:00:00

In [207]:
stoppage_93 = df_gj93[df_gj93['diff'] >= '1:00:00']

In [208]:
stoppage_93['diff'].count()

18

In [120]:
print("Mean :",stoppage_93['diff'].mean())
print("Median :",stoppage_93['diff'].median())
print("Max :",stoppage_93['diff'].max())
print("Min :",stoppage_93['diff'].min())
print("Sum :",stoppage_93['diff'].sum())

Mean : 0 days 04:31:10
Median : 0 days 03:48:00
Max : 0 days 11:20:00
Min : 0 days 01:00:00
Sum : 3 days 09:21:00

In [354]:
#api

In [ ]:
dealer_lat = 30.384662
dealer_long = 76.786064

In [ ]:
80 - 100

13.004329,79.990362
13.004315,79.990374

In [357]:
import requests
import json

In [358]:

url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/79.990362,13.004329;79.990374,13.004315;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'ETA-5111',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 1.7, 2201825.2]],
  'code': 'Ok',
  'durations': [[0, 1.2, 182091.2]]},
 'responseCode': 200}

In [ ]:
# web 1.7 mts

In [ ]:
180 -200 
13.004315,79.990374
12.993878,80.012512

In [359]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/79.990374,13.004315;80.012512,12.993878;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 4384, 2198609]],
  'code': 'Ok',
  'durations': [[0, 1010.8, 146680.5]]},
 'responseCode': 200}

In [ ]:
web - Via Bangalore High Road, NH 48
Click to see turn-by-turn guidanceFastest
6.30 km
16 min
Via Bangalore High Road, Hyundai Plant Main Road
Click to see turn-by-turn guidance
5.00 km
20 min

In [ ]:
220 - 240 
12.993878,80.012512
13.000614,79.991309

In [360]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/80.012512,12.993878;79.991309,13.000614;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'ETA-5111',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 4192.2, 2204700.2]],
  'code': 'Ok',
  'durations': [[0, 700.8, 183927.6]]},
 'responseCode': 200}

In [ ]:
# web 4.20 km

In [ ]:
240 - 260 

13.000614,79.991309
13.00429,79.990406

In [361]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/79.991309,13.000614;79.990406,13.00429;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'ETA-5111',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 592.2, 2201819]],
  'code': 'Ok',
  'durations': [[0, 228.2, 182657.9]]},
 'responseCode': 200}

In [ ]:
# web 593 mts

In [ ]:
280 - 300

In [ ]:
13.00429,79.990406
12.904449,79.822707

In [362]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/79.990406,13.00429;79.822707,12.904449;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'ETA-5111',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 23731.9, 2201819.6]],
  'code': 'Ok',
  'durations': [[0, 2969.6, 182809.5]]},
 'responseCode': 200}

In [ ]:
# web 23.8

In [ ]:
300 - 320
12.904449,79.822707
12.871251,79.64023

In [363]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/79.822707,12.904449;79.64023,12.871251;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5400',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 25569.8, 2221862.4]],
  'code': 'Ok',
  'durations': [[0, 1871.5, 148180.9]]},
 'responseCode': 200}

In [ ]:
# web 25.6 km

In [ ]:
320 -340

12.871251,79.64023
12.91311,79.018688

In [364]:


url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/79.64023,12.871251;79.018688,12.91311;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 72070.4, 2241795.6]],
  'code': 'Ok',
  'durations': [[0, 5191.8, 149580.5]]},
 'responseCode': 200}

In [ ]:
# web 72.

In [ ]:
340 - 360 

12.55527,78.456557
12.719202,77.871046

In [365]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/78.456557,12.55527;77.871046,12.719202;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 76183.9, 2263143.8]],
  'code': 'Ok',
  'durations': [[0, 5344.6, 147990.9]]},
 'responseCode': 200}

In [ ]:
# web 76.2

In [ ]:
400 - 420

12.995796,77.473485
13.133592,77.356038

In [366]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/77.473485,12.995796;77.356038,13.133592;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 22762.8, 2159229.6]],
  'code': 'Ok',
  'durations': [[0, 1529.1, 139769.7]]},
 'responseCode': 200}

In [ ]:
web 22.8

In [ ]:
420 - 440 

13.133592,77.356038
13.288945,77.180826

In [367]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/77.356038,13.133592;77.180826,13.288945;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'ETA-5111',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 25966.3, 2165830.2]],
  'code': 'Ok',
  'durations': [[0, 2329.3, 178721.1]]},
 'responseCode': 200}

In [ ]:
26 km

In [ ]:
440 - 460
13.288945,77.180826
13.818427,76.780288

In [368]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/77.180826,13.288945;76.780288,13.818427;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'ETA-5111',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 76144.5, 2174065]],
  'code': 'Ok',
  'durations': [[0, 6377.2, 179205.8]]},
 'responseCode': 200}

In [ ]:
76.4

In [ ]:
460 - 480 

13.818427,76.780288
14.245149,76.431053

In [369]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/76.780288,13.818427;76.431053,14.245149;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'ETA-5111',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 63506.2, 2118051.6]],
  'code': 'Ok',
  'durations': [[0, 5042.9, 177555.6]]},
 'responseCode': 200}

In [ ]:
63.7

In [ ]:
480 - 500 

14.245149,76.431053
14.572178,76.440531

In [370]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/76.431053,14.245149;76.440531,14.572178;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 44596.7, 2070535]],
  'code': 'Ok',
  'durations': [[0, 4482.9, 139447.3]]},
 'responseCode': 200}

In [ ]:
web - 41.1

In [ ]:
# 560 -580 

14.572178,76.440531
14.820269,76.430528

In [371]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/76.440531,14.572178;76.430528,14.820269;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'ETA-5111',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 28843.8, 2048208.2]],
  'code': 'Ok',
  'durations': [[0, 2610.2, 169823.4]]},
 'responseCode': 200}

In [372]:
29

29

In [ ]:
580 - 600 

14.820269,76.430528
15.363658,76.314266

In [373]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/76.430528,14.820269;76.314266,15.363658;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'ETA-5111',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 69143.6, 2016438.4]],
  'code': 'Ok',
  'durations': [[0, 6586.3, 167078.8]]},
 'responseCode': 200}

In [ ]:
69.4

In [ ]:
600 - 620 
15.363658,76.314266
15.499821,76.267514

In [374]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/76.314266,15.363658;76.267514,15.499821;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 16229.4, 1950556.8]],
  'code': 'Ok',
  'durations': [[0, 1160.1, 132062.3]]},
 'responseCode': 200}

In [ ]:
16.3

In [ ]:
620 - 640 

15.499821,76.267514
15.976349,76.106822

In [375]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/76.267514,15.499821;76.106822,15.976349;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'ETA-5111',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 57602.6, 1966104.4]],
  'code': 'Ok',
  'durations': [[0, 6108.3, 161393.5]]},
 'responseCode': 200}

In [ ]:
57.9

In [ ]:
640 -660 

15.976349,76.106822
16.390301,75.92887

In [614]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/76.106822,15.976349;75.92887,16.390301;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 53225.1, 1762717.2]],
  'code': 'Ok',
  'durations': [[0, 3845.7, 129620.5]]},
 'responseCode': 200}

In [ ]:
53.4

In [ ]:
660-680
16.390301,75.92887
16.429733,75.907648

In [615]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/75.92887,16.390301;75.907648,16.429733;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 4915.7, 1709492.2]],
  'code': 'Ok',
  'durations': [[0, 354.8, 125774.8]]},
 'responseCode': 200}

In [ ]:
4.93

In [ ]:
680-700

16.429733,75.907648
16.805466,75.736685

In [616]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/75.907648,16.429733;75.736685,16.805466;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 46255.1, 1704576.4]],
  'code': 'Ok',
  'durations': [[0, 3339.3, 125420]]},
 'responseCode': 200}

In [ ]:
46.4

In [ ]:
700 - 720 

16.805466,75.736685
17.369438,75.844333

In [617]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/75.736685,16.805466;75.844333,17.369438;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 66238.3, 1658321.2]],
  'code': 'Ok',
  'durations': [[0, 5882.8, 122080.7]]},
 'responseCode': 200}

In [ ]:
70.7

In [ ]:
720 740
17.369438,75.844333
17.476622,75.855616

In [618]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/75.844333,17.369438;75.855616,17.476622;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 12119, 1592083]],
  'code': 'Ok',
  'durations': [[0, 1092.9, 116197.9]]},
 'responseCode': 200}

In [ ]:
12.2 km

In [ ]:
800-820 

17.476622,75.855616
17.476597,75.85593

In [619]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/75.855616,17.476622;75.85593,17.476597;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 4.8, 1579963.9]],
  'code': 'Ok',
  'durations': [[0, 0.4, 115105]]},
 'responseCode': 200}

4.8 mts

In [ ]:
820 - 840 
17.476597,75.85593
17.841352,75.574842

In [621]:

url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/75.85593,17.476597;75.574842,17.841352;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 63498.4, 1579959.1]],
  'code': 'Ok',
  'durations': [[0, 5214.8, 115104.6]]},
 'responseCode': 200}

In [ ]:
63.6 km / alternative 59.6 fastest

In [ ]:
840 - 860 
17.841352,75.574842
18.204866,75.191443

In [622]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/75.574842,17.841352;75.191443,18.204866;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 66451.6, 1515018.6]],
  'code': 'Ok',
  'durations': [[0, 5256.2, 114303]]},
 'responseCode': 200}

In [ ]:
66.6km

In [ ]:
860 - 880
18.204866,75.191443
18.559528,75.150541

In [623]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/75.191443,18.204866;75.150541,18.559528;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 45441, 1448567]],
  'code': 'Ok',
  'durations': [[0, 4376.6, 109046.8]]},
 'responseCode': 200}

In [ ]:
45.6

In [ ]:
880 - 900 

18.559528,75.150541
18.705057,75.037594

In [624]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/75.150541,18.559528;75.037594,18.705057;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 20440.7, 1403126]],
  'code': 'Ok',
  'durations': [[0, 2107.7, 104670.2]]},
 'responseCode': 200}

In [ ]:
45.6 km

In [ ]:
900- 920 

18.705057,75.037594
18.975975,74.802106

In [625]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/75.037594,18.705057;74.802106,18.975975;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 41088.6, 1382685.2]],
  'code': 'Ok',
  'durations': [[0, 4236.9, 102562.5]]},
 'responseCode': 200}

In [ ]:
41.2

In [ ]:
920 -940
18.975975,74.802106
19.321701,74.653485

In [626]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/74.802106,18.975975;74.653485,19.321701;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 44381.9, 1341596.6]],
  'code': 'Ok',
  'durations': [[0, 3936.9, 98325.6]]},
 'responseCode': 200}

In [ ]:
44.5 km

In [ ]:
940-960
19.321701,74.653485
19.761566,74.476448

In [627]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/74.653485,19.321701;74.476448,19.761566;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 54155.7, 1297214.8]],
  'code': 'Ok',
  'durations': [[0, 4348.6, 94388.7]]},
 'responseCode': 200}

In [ ]:
54.4

In [ ]:
960 - 980
19.761566,74.476448
20.113373,74.453715

In [628]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/74.476448,19.761566;74.453715,20.113373;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 40727.8, 1243059.2]],
  'code': 'Ok',
  'durations': [[0, 3841.2, 90040.1]]},
 'responseCode': 200}

In [ ]:
40.9km

In [ ]:
980- 1000
20.113373,74.453715
20.443905,74.498202

In [630]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/74.453715,20.113373;74.498202,20.443905;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 39513.2, 1202331.4]],
  'code': 'Ok',
  'durations': [[0, 4044.2, 86198.9]]},
 'responseCode': 200}

In [ ]:
39.7

In [ ]:
1000-1020

20.443905,74.498202
20.66927,74.676934

In [631]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/74.498202,20.443905;74.676934,20.66927;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 34791.1, 1162818.1]],
  'code': 'Ok',
  'durations': [[0, 2946.7, 82154.7]]},
 'responseCode': 200}

In [ ]:
34.1 / alternative 34. 9

In [ ]:
1020 - 1040 

20.66927,74.676934
20.755903,74.721274

In [632]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/74.676934,20.66927;74.721274,20.755903;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 10908.5, 1128027.1]],
  'code': 'Ok',
  'durations': [[0, 783.3, 79208]]},
 'responseCode': 200}

In [ ]:
10.9 km

In [ ]:
1100-1120
20.755903,74.721274
20.833014,74.75401

In [633]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/74.721274,20.755903;74.75401,20.833014;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 9712.5, 1117118.6]],
  'code': 'Ok',
  'durations': [[0, 731.3, 78424.7]]},
 'responseCode': 200}

In [ ]:
9.75km

In [ ]:
1120-1140
20.833014,74.75401
21.339281,74.935277

In [634]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/74.75401,20.833014;74.935277,21.339281;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 66319.9, 1107406.1]],
  'code': 'Ok',
  'durations': [[0, 4904.6, 77693.4]]},
 'responseCode': 200}

In [ ]:
1140 - 1160 
21.339281,74.935277
21.534588,75.048915

In [635]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/74.935277,21.339281;75.048915,21.534588;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 25952.5, 1041086.2]],
  'code': 'Ok',
  'durations': [[0, 1869.4, 72788.8]]},
 'responseCode': 200}

In [ ]:
26 km

In [ ]:
1160 -1180
21.534588,75.048915
21.819916,75.18105

In [638]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/75.048915,21.534588;75.18105,21.819916;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 37043.4, 1015133.7]],
  'code': 'Ok',
  'durations': [[0, 2670.8, 70919.4]]},
 'responseCode': 200}

In [ ]:
37.2

In [ ]:
1180-1200
21.819916,75.18105
21.880716,75.22553

In [639]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/75.18105,21.819916;75.22553,21.880716;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 8758.7, 978090.3]],
  'code': 'Ok',
  'durations': [[0, 631.5, 68248.6]]},
 'responseCode': 200}

In [ ]:
8.44 / 8.78

In [ ]:
1200 - 1220

21.880716,75.22553
22.370956,75.52345

In [640]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/75.22553,21.880716;75.52345,22.370956;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 67766.4, 969331.6]],
  'code': 'Ok',
  'durations': [[0, 4889.6, 67617.1]]},
 'responseCode': 200}

In [ ]:
67.9

In [ ]:
1220 - 1240

22.370956,75.52345
22.594948,75.673005

In [641]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/75.52345,22.370956;75.673005,22.594948;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 34614, 901565.1]],
  'code': 'Ok',
  'durations': [[0, 2613.8, 62727.5]]},
 'responseCode': 200}

In [ ]:
34.7

In [ ]:
1240 - 1260 

22.594948,75.673005
22.922403,76.026982

In [642]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/75.673005,22.594948;76.026982,22.922403;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 62933.1, 866979.1]],
  'code': 'Ok',
  'durations': [[0, 4718.8, 60153.3]]},
 'responseCode': 200}

In [ ]:
63km

In [ ]:
1260 -1280 
22.922403,76.026982
23.448832,76.323014

In [643]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/76.026982,22.922403;76.323014,23.448832;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 74485.9, 804046]],
  'code': 'Ok',
  'durations': [[0, 5798.9, 55434.5]]},
 'responseCode': 200}

In [ ]:
74.7

In [ ]:
1280 -1300 
23.448832,76.323014
23.612387,76.539718

In [644]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/76.323014,23.448832;76.539718,23.612387;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 29749.4, 729560]],
  'code': 'Ok',
  'durations': [[0, 2305.5, 49635.6]]},
 'responseCode': 200}

In [ ]:
29.8

In [ ]:
1340 - 1360 
23.612387,76.539718
23.711823,76.72448

In [645]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/76.539718,23.612387;76.72448,23.711823;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 22299.6, 699810.6]],
  'code': 'Ok',
  'durations': [[0, 1685.4, 47330.1]]},
 'responseCode': 200}

In [ ]:
22.3 km

In [ ]:
1360 - 1380 

23.711823,76.72448
24.171955,77.028154

In [646]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/76.72448,23.711823;77.028154,24.171955;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 62170.3, 677511]],
  'code': 'Ok',
  'durations': [[0, 4721, 45644.7]]},
 'responseCode': 200}

In [ ]:
62.3

In [ ]:
1380 - 1400 
24.171955,77.028154
24.674894,77.321798

In [647]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/77.028154,24.171955;77.321798,24.674894;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 66544.9, 615340.7]],
  'code': 'Ok',
  'durations': [[0, 5209.2, 40923.7]]},
 'responseCode': 200}

In [ ]:
66.7

In [ ]:
1400 - 1420

24.674894,77.321798
25.148689,77.606368

In [649]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/77.321798,24.674894;77.606368,25.148689;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 63375.8, 548795.8]],
  'code': 'Ok',
  'durations': [[0, 4643.2, 35714.5]]},
 'responseCode': 200}

In [ ]:
63.5

In [ ]:
1460 - 1480
25.148849,77.606368
25.487232,77.677837

In [650]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/77.606368,25.148849;77.677837,25.487232;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 44198.1, 485402.4]],
  'code': 'Ok',
  'durations': [[0, 3389.7, 31070]]},
 'responseCode': 200}

In [ ]:
44.3 / 42.1

In [ ]:
1480 - 1500

25.487232,77.677837
26.043756,77.919155

In [651]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/77.677837,25.487232;77.919155,26.043756;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 72510.7, 441204.3]],
  'code': 'Ok',
  'durations': [[0, 5508.8, 27680.3]]},
 'responseCode': 200}

In [ ]:
72.7

In [ ]:
1500 - 1520
26.043756,77.919155
26.325735,78.153978

In [652]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/77.919155,26.043756;78.153978,26.325735;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 70214, 368693.6]],
  'code': 'Ok',
  'durations': [[0, 4659.2, 22171.5]]},
 'responseCode': 200}

In [ ]:
70.2 fastest/ 50.5 / 61

In [ ]:
1520 - 1540

26.325735,78.153978
26.752151,77.903245

In [653]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/78.153978,26.325735;77.903245,26.752151;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 66339.9, 333859.1]],
  'code': 'Ok',
  'durations': [[0, 4509.6, 18569.2]]},
 'responseCode': 200}

In [ ]:
66.5

In [ ]:
1540 - 1560
26.752151,77.903245
27.187731,77.810579

In [654]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/77.903245,26.752151;77.810579,27.187731;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 60354.9, 267519.2]],
  'code': 'Ok',
  'durations': [[0, 4163.6, 14059.6]]},
 'responseCode': 200}

In [ ]:
60.5

In [ ]:
1560 - 1580 
27.187731,77.810579
27.676928,77.526989

In [655]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/77.810579,27.187731;77.526989,27.676928;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 66975, 198622.9]],
  'code': 'Ok',
  'durations': [[0, 3995.5, 10432.3]]},
 'responseCode': 200}

In [ ]:
67.1

In [ ]:
1580 - 1600 
27.676928,77.526989
27.947184,77.347354

In [656]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/77.526989,27.676928;77.347354,27.947184;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'ETA-5111',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 36411.6, 160893.3]],
  'code': 'Ok',
  'durations': [[0, 2997.3, 13210.9]]},
 'responseCode': 200}

In [ ]:
36.5

In [ ]:
1640 - 1660

27.947184,77.347354
27.947292,77.348365

In [657]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/77.347354,27.947184;77.348365,27.947292;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'ETA-5111',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 2144.9, 124670.4]],
  'code': 'Ok',
  'durations': [[0, 273.3, 10706.8]]},
 'responseCode': 200}

In [ ]:
2.15 km

In [ ]:
1660 - 1680 
27.947292,77.348365
28.25913,76.938784

In [386]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/77.348365,27.947292;76.938784,28.25913;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 62140.2, 137209]],
  'code': 'Ok',
  'durations': [[0, 2706.4, 6088.2]]},
 'responseCode': 200}

In [ ]:
62.2

In [ ]:
.1680 - 1700 

28.25913,76.938784
28.238352,76.613133

In [387]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/76.938784,28.25913;76.613133,28.238352;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 43746.1, 62455.5]],
  'code': 'Ok',
  'durations': [[0, 2975.2, 4281.7]]},
 'responseCode': 200}

## NL dealer series

In [121]:
df_nl3708 = pd.read_excel('D:\\Sales Logistic Project\\NLO2Q3708.xltm')

In [122]:
df_nl3708.head()

              Lat,Lngt                     Period
0  13.031811,80.030688  12/08 00:00 : 12/08 00:05
1  13.031811,80.030688  12/08 00:05 : 12/08 00:10
2  13.031811,80.030688  12/08 00:10 : 12/08 00:15
3  13.031811,80.030688  12/08 00:15 : 12/08 00:20
4  13.031811,80.030688  12/08 00:20 : 12/08 00:25

In [123]:
df_nl3708.shape

(576, 2)

In [124]:
df_nl3708[['Latitude', 'Longitude']] = df_nl3708['Lat,Lngt'].str.split(',', 1, expand=True)

In [125]:
df_nl3708['Latitude'] = df_nl3708['Latitude'].astype(float)

In [126]:
df_nl3708['Longitude'] = df_nl3708['Longitude'].astype(float)

In [127]:
df_nl3708 = df_nl3708[df_nl3708['Lat,Lngt'].notna()]

In [128]:


df_nl3708['dealer_lat_3708'] = 11.905124
df_nl3708['dealer_long_3708'] = 79.808662

In [129]:
dealer_lat_3708 = 11.905124
dealer_long_3708 = 79.808662


distances_km = []
for row in df_nl3708.itertuples(index=False):
   distances_km.append(
       haversine_distance(dealer_lat_3708, dealer_long_3708, row.Latitude, row.Longitude)
   )

In [130]:
df_nl3708['Distance'] = distances_km

In [131]:
df_nl3708.Distance.min()

0.13

In [256]:
df_nl3708['Status'] = np.where(df_nl3708['Distance']!= df_nl3708['Distance'].min(), 'In-transit', 'Unloading-Point')

In [257]:
df_nl3708[0:1]

,"Lat,Lngt",Period,Latitude,Longitude,dealer_lat_3708,dealer_long_3708,Distance,Status,start_dt,end_dt,Time_diff_temp,Time_diff
0,"13.031811,80.030688",12/08 00:00 : 12/08 00:05,13.031811,80.030688,11.905124,79.808662,127.58,In-transit,2021-08-12,2021-08-12 00:05:00,0 days 00:05:00,0 days

In [258]:
df_nl3708.iloc[np.where(df_nl3708.Distance==df_nl3708.Distance.min())]

,"Lat,Lngt",Period,Latitude,Longitude,dealer_lat_3708,dealer_long_3708,Distance,Status,start_dt,end_dt,Time_diff_temp,Time_diff
449,"11.905496,79.807539",13/08 13:25 : 13/08 13:30,11.905496,79.807539,11.905124,79.808662,0.13,Unloading-Point,2021-08-13 13:25:00,2021-08-13 13:30:00,0 days 00:05:00,0 days 00:05:00

In [259]:
#df_gj['start_dt'] = df_gj['Period'].map(lambda x:"2021"+"-"+str(x)[0:2]+"-"+str(x)[3:5]+" "+str(x)[6:11])
df_nl3708['start_dt'] = df_nl3708['Period'].map(lambda x:"2021"+"-"+str(x)[3:5]+"-"+str(x)[0:2]+" "+str(x)[6:11])
df_nl3708['start_dt'].head(2)

0    2021-08-12 00:00
1    2021-08-12 00:05
Name: start_dt, dtype: object

In [260]:
#df_gj['end_dt'] = df_gj['Period'].map(lambda x:"2021"+"-"+str(x)[13:16]+"-"+str(x)[17:20]+" "+str(x)[20:25])
df_nl3708['end_dt'] = df_nl3708['Period'].map(lambda x:"2021"+"-"+str(x)[17:20]+"-"+str(x)[13:16]+" "+str(x)[20:25])
df_nl3708['end_dt'].head(2)

0    2021-08 - 12 00:05
1    2021-08 - 12 00:10
Name: end_dt, dtype: object

In [261]:
df_nl3708['start_dt'] = pd.to_datetime(df_nl3708['start_dt'])

In [262]:
df_nl3708['end_dt'] = pd.to_datetime(df_nl3708['end_dt'])

In [263]:
df_nl3708['Time_diff_temp'] = df_nl3708['end_dt'] - df_nl3708['start_dt']

In [264]:
df_nl3708.Time_diff_temp.sum()

Timedelta('1 days 23:54:00')

In [265]:
df_nl3708['Time_diff'] = [x.iloc[-1] - x.iloc[0] for x in df_nl3708['end_dt'].rolling(2) if len(x)>0]

In [266]:
df_nl3708['Time_diff'].sum()

Timedelta('1 days 23:49:00')

In [267]:
df_nl3708_new = df_nl3708[0:450]

In [401]:
df_nl3708_new.shape

(450, 12)

In [268]:
df_nl3708_new.tail(1)

,"Lat,Lngt",Period,Latitude,Longitude,dealer_lat_3708,dealer_long_3708,Distance,Status,start_dt,end_dt,Time_diff_temp,Time_diff
449,"11.905496,79.807539",13/08 13:25 : 13/08 13:30,11.905496,79.807539,11.905124,79.808662,0.13,Unloading-Point,2021-08-13 13:25:00,2021-08-13 13:30:00,0 days 00:05:00,0 days 00:05:00

In [269]:
df_nl3708_new['Status'].value_counts()

In-transit         449
Unloading-Point      1
Name: Status, dtype: int64

In [270]:
df_nl3708_new['Time_diff'] = [x.iloc[-1] - x.iloc[0] for x in df_nl3708_new['end_dt'].rolling(2) if len(x)>0]

In [271]:
df_nl3708_new['Time_diff'].value_counts()

0 days 00:05:00    449
0 days 00:00:00      1
Name: Time_diff, dtype: int64

In [272]:
df_nl3708_new['Time_diff'].sum()

Timedelta('1 days 13:25:00')

In [273]:
df_nl3708_new.head(1)

,"Lat,Lngt",Period,Latitude,Longitude,dealer_lat_3708,dealer_long_3708,Distance,Status,start_dt,end_dt,Time_diff_temp,Time_diff
0,"13.031811,80.030688",12/08 00:00 : 12/08 00:05,13.031811,80.030688,11.905124,79.808662,127.58,In-transit,2021-08-12,2021-08-12 00:05:00,0 days 00:05:00,0 days

In [274]:
df_nl3708_new.tail(1)

,"Lat,Lngt",Period,Latitude,Longitude,dealer_lat_3708,dealer_long_3708,Distance,Status,start_dt,end_dt,Time_diff_temp,Time_diff
449,"11.905496,79.807539",13/08 13:25 : 13/08 13:30,11.905496,79.807539,11.905124,79.808662,0.13,Unloading-Point,2021-08-13 13:25:00,2021-08-13 13:30:00,0 days 00:05:00,0 days 00:05:00

In [276]:
dt1 = '2021-08-12 00:05:00'
d1 = pd.to_datetime(dt1)
dt2 = '2021-08-13 13:30:00'
d2 = pd.to_datetime(dt2)

a = d2-d1
a

Timedelta('1 days 13:25:00')

In [335]:
Gb3708 = df_nl3708_new.groupby('Lat,Lngt').agg({'Time_diff': np.sum})

In [410]:
Gb3708.value_counts()

Time_diff
0 days 00:05:00    77
0 days 00:40:00     2
0 days 00:30:00     2
0 days 11:30:00     1
0 days 07:00:00     1
0 days 03:40:00     1
0 days 03:30:00     1
0 days 01:10:00     1
0 days 00:50:00     1
0 days 00:35:00     1
0 days 00:15:00     1
0 days 00:10:00     1
dtype: int64

In [411]:
Gb3708.sum()

Time_diff   1 days 13:25:00
dtype: timedelta64[ns]

In [405]:
Gb3708.to_excel("3708.xlsx")

In [345]:
Gb3708['Time_diff'].sum()

Timedelta('1 days 13:25:00')

In [346]:
#gb_3708_res = Gb3708.iloc[np.where(Gb3708)==Gb3708['Time_diff']>='1:00:00']

In [343]:
Gb3708_test = Gb3708[Gb3708['Time_diff'] >= '1:00:00']

In [403]:
Gb3708_test

                          Time_diff
Lat,Lngt
11.904675,79.807078 0 days 11:30:00
11.905312,79.80736  0 days 01:10:00
11.905353,79.807386 0 days 03:40:00
13.031811,80.030688 0 days 07:00:00
13.031829,80.030765 0 days 03:30:00

In [ ]:
## Using API - 20 Index Intervals

In [371]:
df_nl3708.shape

(575, 12)

In [370]:
df_nl3708_new.shape

(450, 12)

## stoppage time old

In [372]:
#df_nl3708_stoppage = df_nl3708.groupby(['Latitude', 'Longitude']).agg({'end_dt':['min','max']})

In [373]:
#df_nl3708_stoppage.to_excel("df_nl3708_stoppage.xlsx")

In [374]:
#df_nl3708_stoppage = pd.read_excel("D:Sales Logistic Project\\dfnl3708.xltm")

In [375]:
#df_nl3708_stoppage['min'] = pd.to_datetime(df_nl3708_stoppage['min'])

In [376]:
#df_nl3708_stoppage['max'] = pd.to_datetime(df_nl3708_stoppage['max'])

In [377]:
#df_nl3708_stoppage['diff'] = df_nl3708_stoppage['max']-df_nl3708_stoppage['min']

In [378]:
#df_nl3708_stoppage['diff'].count()

In [379]:
#df_nl3708_stop = df_nl3708_stoppage[df_nl3708_stoppage['diff'] >= '1:00:00']

In [380]:
#df_nl3708_stop['diff'].count()

## API TEST

In [350]:
import requests
import json

In [351]:

url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/80.030688,13.031811;79.808662,11.905124;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 159625.9, 2193467.8]],
  'code': 'Ok',
  'durations': [[0, 12364.5, 146402.2]]},
 'responseCode': 200}

In [ ]:
13.031811,80.030688
11.905124,79.808662

In [352]:
159625.9/1000

159.6259

In [ ]:
# MapMyInd - 160/ Gmap - 160

In [381]:
# Read the dataset

In [382]:
nl3708_new = df_nl3708_new[0::20]

In [383]:
nl3708_new.shape

(23, 12)

In [384]:
nl3708_new

,"Lat,Lngt",Period,Latitude,Longitude,dealer_lat_3708,dealer_long_3708,Distance,Status,start_dt,end_dt,Time_diff_temp,Time_diff
0,"13.031811,80.030688",12/08 00:00 : 12/08 00:05,13.031811,80.030688,11.905124,79.808662,127.58,In-transit,2021-08-12 00:00:00,2021-08-12 00:05:00,0 days 00:05:00,0 days 00:00:00
20,"13.031811,80.030688",12/08 01:40 : 12/08 01:45,13.031811,80.030688,11.905124,79.808662,127.58,In-transit,2021-08-12 01:40:00,2021-08-12 01:45:00,0 days 00:05:00,0 days 00:05:00
40,"13.031811,80.030688",12/08 03:20 : 12/08 03:25,13.031811,80.030688,11.905124,79.808662,127.58,In-transit,2021-08-12 03:20:00,2021-08-12 03:25:00,0 days 00:05:00,0 days 00:05:00
60,"13.031811,80.030688",12/08 05:00 : 12/08 05:05,13.031811,80.030688,11.905124,79.808662,127.58,In-transit,2021-08-12 05:00:00,2021-08-12 05:05:00,0 days 00:05:00,0 days 00:05:00
80,"13.031811,80.030688",12/08 06:40 : 12/08 06:45,13.031811,80.030688,11.905124,79.808662,127.58,In-transit,2021-08-12 06:40:00,2021-08-12 06:45:00,0 days 00:05:00,0 days 00:05:00
100,"13.031829,80.030765",12/08 08:20 : 12/08 08:25,13.031829,80.030765,11.905124,79.808662,127.58,In-transit,2021-08-12 08:20:00,2021-08-12 08:25:00,0 days 00:05:00,0 days 00:05:00
120,"13.031829,80.030765",12/08 10:00 : 12/08 10:05,13.031829,80.030765,11.905124,79.808662,127.58,In-transit,2021-08-12 10:00:00,2021-08-12 10:05:00,0 days 00:05:00,0 days 00:05:00
140,"13.003496,79.995904",12/08 11:40 : 12/08 11:45,13.003496,79.995904,11.905124,79.808662,123.81,In-transit,2021-08-12 11:40:00,2021-08-12 11:45:00,0 days 00:05:00,0 days 00:05:00
160,"12.993972,80.013805",12/08 13:20 : 12/08 13:25,12.993972,80.013805,11.905124,79.808662,123.11,In-transit,2021-08-12 13:20:00,2021-08-12 13:25:00,0 days 00:05:00,0 days 00:05:00
180,"12.754856,80.001235",12/08 15:00 : 12/08 15:05,12.754856,80.001235,11.905124,79.808662,96.77,In-transit,2021-08-12 15:00:00,2021-08-12 15:05:00,0 days 00:05:00,0 days 00:05:00
200,"12.263199,79.681549",12/08 16:40 : 12/08 16:45,12.263199,79.681549,11.905124,79.808662,42.15,In-transit,2021-08-12 16:40:00,2021-08-12 16:45:00,0 days 00:05:00,0 days 00:05:00
220,"11.904619,79.807034",12/08 18:20 : 12/08 18:25,11.904619,79.807034,11.905124,79.808662,0.19,In-transit,2021-08-12 18:20:00,2021-08-12 18:25:00,0 days 00:05:00,0 days 00:05:00
240,"11.904636,79.807059",12/08 20:00 : 12/08 20:05,11.904636,79.807059,11.905124,79.808662,0.18,In-transit,2021-08-12 20:00:00,2021-08-12 20:05:00,0 days 00:05:00,0 days 00:05:00
260,"11.904675,79.807078",12/08 21:40 : 12/08 21:45,11.904675,79.807078,11.905124,79.808662,0.18,In-transit,2021-08-12 21:40:00,2021-08-12 21:45:00,0 days 00:05:00,0 days 00:05:00
280,"11.904675,79.807078",12/08 23:20 : 12/08 23:25,11.904675,79.807078,11.905124,79.808662,0.18,In-transit,2021-08-12 23:20:00,2021-08-12 23:25:00,0 days 00:05:00,0 days 00:05:00
300,"11.904675,79.807078",13/08 01:00 : 13/08 01:05,11.904675,79.807078,11.905124,79.808662,0.18,In-transit,2021-08-13 01:00:00,2021-08-13 01:05:00,0 days 00:05:00,0 days 00:05:00
320,"11.904675,79.807078",13/08 02:40 : 13/08 02:45,11.904675,79.807078,11.905124,79.808662,0.18,In-transit,2021-08-13 02:40:00,2021-08-13 02:45:00,0 days 00:05:00,0 days 00:05:00
340,"11.904675,79.807078",13/08 04:20 : 13/08 04:25,11.904675,79.807078,11.905124,79.808662,0.18,In-transit,2021-08-13 04:20:00,2021-08-13 04:25:00,0 days 00:05:00,0 days 00:05:00
360,"11.904675,79.807078",13/08 06:00 : 13/08 06:05,11.904675,79.807078,11.905124,79.808662,0.18,In-transit,2021-08-13 06:00:00,2021-08-13 06:05:00,0 days 00:05:00,0 days 00:05:00
380,"11.904675,79.807078",13/08 07:40 : 13/08 07:45,11.904675,79.807078,11.905124,79.808662,0.18,In-transit,2021-08-13 07:40:00,2021-08-13 07:45:00,0 days 00:05:00,0 days 00:05:00
400,"11.905312,79.80736",13/08 09:20 : 13/08 09:25,11.905312,79.807360,11.905124,79.808662,0.14,In-transit,2021-08-13 09:20:00,2021-08-13 09:25:00,0 days 00:05:00,0 days 00:05:00
420,"11.905353,79.807386",13/08 11:00 : 13/08 11:05,11.905353,79.807386,11.905124,79.808662,0.14,In-transit,2021-08-13 11:00:00,2021-08-13 11:05:00,0 days 00:05:00,0 days 00:05:00
440,"11.905353,79.807386",13/08 12:40 : 13/08 12:45,11.905353,79.807386,11.905124,79.808662,0.14,In-transit,2021-08-13 12:40:00,2021-08-13 12:45:00,0 days 00:05:00,0 days 00:05:00

In [162]:
## Nl3753

In [279]:
df_nl3753 = pd.read_excel('D:\\Sales Logistic Project\\NL02Q3753_new.xltm')

In [280]:
df_nl3753[['Latitude', 'Longitude']] = df_nl3753['Lat,Lngt'].str.split(',', 1, expand=True)

In [281]:
df_nl3753 = df_nl3753[df_nl3753['Lat,Lngt'].notna()]

In [282]:
df_nl3753['Latitude'] = df_nl3753['Latitude'].astype(float)

In [283]:
df_nl3753['Longitude'] = df_nl3753['Longitude'].astype(float)

In [284]:
df_nl3753.shape

(862, 4)

In [285]:
df_nl3753['dealer_lat_3753'] = 11.0131189
df_nl3753['dealer_long_3753'] = 76.9801286

In [286]:
dealer_lat_3753 = 11.0131189
dealer_long_3753 = 76.9801286


distances_km = []
for row in df_nl3753.itertuples(index=False):
   distances_km.append(
       haversine_distance(dealer_lat_3753, dealer_long_3753, row.Latitude, row.Longitude)
   )

In [287]:
df_nl3753['Distance'] = distances_km

In [288]:
df_nl3753.Distance.min()

0.61

In [289]:
df_nl3753['Status'] = np.where(df_nl3753['Distance']!= df_nl3753['Distance'].min(), 'In-transit', 'Unloading-Point')

In [290]:
df_nl3753[0:1]

,"Lat,Lngt",Period,Latitude,Longitude,dealer_lat_3753,dealer_long_3753,Distance,Status
0,"13.027363,80.029651",16/09 00:00 : 16/09 00:05,13.027363,80.029651,11.013119,76.980129,400.18,In-transit

In [291]:
df_nl3753.iloc[np.where(df_nl3753.Distance==df_nl3753.Distance.min())]

,"Lat,Lngt",Period,Latitude,Longitude,dealer_lat_3753,dealer_long_3753,Distance,Status
566,"11.012391,76.985638",17/09 23:10 : 17/09 23:15,11.012391,76.985638,11.013119,76.980129,0.61,Unloading-Point
567,"11.012391,76.985638",17/09 23:15 : 17/09 23:20,11.012391,76.985638,11.013119,76.980129,0.61,Unloading-Point
568,"11.012391,76.985638",17/09 23:20 : 17/09 23:25,11.012391,76.985638,11.013119,76.980129,0.61,Unloading-Point
569,"11.012391,76.985638",17/09 23:25 : 17/09 23:30,11.012391,76.985638,11.013119,76.980129,0.61,Unloading-Point
570,"11.012391,76.985638",17/09 23:30 : 17/09 23:35,11.012391,76.985638,11.013119,76.980129,0.61,Unloading-Point
571,"11.012391,76.985638",17/09 23:35 : 17/09 23:40,11.012391,76.985638,11.013119,76.980129,0.61,Unloading-Point
572,"11.012391,76.985638",17/09 23:40 : 17/09 23:45,11.012391,76.985638,11.013119,76.980129,0.61,Unloading-Point
573,"11.012391,76.985638",17/09 23:45 : 17/09 23:50,11.012391,76.985638,11.013119,76.980129,0.61,Unloading-Point
574,"11.012391,76.985638",17/09 23:50 : 17/09 23:55,11.012391,76.985638,11.013119,76.980129,0.61,Unloading-Point
575,"11.012391,76.985638",17/09 23:55 : 18/09 00:00,11.012391,76.985638,11.013119,76.980129,0.61,Unloading-Point
576,"11.012391,76.985638",18/09 00:00 : 18/09 00:05,11.012391,76.985638,11.013119,76.980129,0.61,Unloading-Point
577,"11.012391,76.985638",18/09 00:05 : 18/09 00:10,11.012391,76.985638,11.013119,76.980129,0.61,Unloading-Point
578,"11.012391,76.985638",18/09 00:10 : 18/09 00:15,11.012391,76.985638,11.013119,76.980129,0.61,Unloading-Point
579,"11.012391,76.985638",18/09 00:15 : 18/09 00:20,11.012391,76.985638,11.013119,76.980129,0.61,Unloading-Point
580,"11.012391,76.985638",18/09 00:20 : 18/09 00:25,11.012391,76.985638,11.013119,76.980129,0.61,Unloading-Point
581,"11.012391,76.985638",18/09 00:25 : 18/09 00:30,11.012391,76.985638,11.013119,76.980129,0.61,Unloading-Point
582,"11.012391,76.985638",18/09 00:30 : 18/09 00:35,11.012391,76.985638,11.013119,76.980129,0.61,Unloading-Point
583,"11.012391,76.985638",18/09 00:35 : 18/09 00:40,11.012391,76.985638,11.013119,76.980129,0.61,Unloading-Point
584,"11.012391,76.985638",18/09 00:40 : 18/09 00:45,11.012391,76.985638,11.013119,76.980129,0.61,Unloading-Point
585,"11.012391,76.985638",18/09 00:45 : 18/09 00:50,11.012391,76.985638,11.013119,76.980129,0.61,Unloading-Point

In [292]:
#df_gj['start_dt'] = df_gj['Period'].map(lambda x:"2021"+"-"+str(x)[0:2]+"-"+str(x)[3:5]+" "+str(x)[6:11])
df_nl3753['start_dt'] = df_nl3753['Period'].map(lambda x:"2021"+"-"+str(x)[3:5]+"-"+str(x)[0:2]+" "+str(x)[6:11])
df_nl3753['start_dt'].head(2)

0    2021-09-16 00:00
1    2021-09-16 00:05
Name: start_dt, dtype: object

In [293]:
#df_gj['end_dt'] = df_gj['Period'].map(lambda x:"2021"+"-"+str(x)[13:16]+"-"+str(x)[17:20]+" "+str(x)[20:25])
df_nl3753['end_dt'] = df_nl3753['Period'].map(lambda x:"2021"+"-"+str(x)[17:20]+"-"+str(x)[13:16]+" "+str(x)[20:25])
df_nl3753['end_dt'].head(2)

0    2021-09 - 16 00:05
1    2021-09 - 16 00:10
Name: end_dt, dtype: object

In [294]:
df_nl3753['start_dt'] = pd.to_datetime(df_nl3753['start_dt'])
df_nl3753['end_dt'] = pd.to_datetime(df_nl3753['end_dt'])

In [295]:
df_nl3753['Time_diff_temp'] = df_nl3753['end_dt'] - df_nl3753['start_dt']

In [296]:
df_nl3753['Time_diff_temp'].value_counts()

0 days 00:05:00    861
0 days 00:04:00      1
Name: Time_diff_temp, dtype: int64

In [297]:
df_nl3753['Time_diff'] = [x.iloc[-1] - x.iloc[0] for x in df_nl3753['end_dt'].rolling(2) if len(x)>0]

In [298]:
df_nl3753['Time_diff'].value_counts()

0 days 00:05:00    859
0 days 00:10:00      1
0 days 00:04:00      1
0 days 00:00:00      1
Name: Time_diff, dtype: int64

In [183]:
## stoppage time

In [184]:
df_nl3753 = df_nl3753.groupby(['Latitude', 'Longitude']).agg({'end_dt':['min','max']})

In [186]:
df_nl3753.to_excel("df_nl3753.xlsx")

In [188]:
df_nl3753_stoppage = pd.read_excel('D:\\Sales Logistic Project\\df_nl3753.xltm')

In [189]:
df_nl3753_stoppage

      Latitude  Longitude                 min                 max
0    11.012391  76.985638 2021-09-17 23:15:00 2021-09-18 00:50:00
1    11.014603  76.988141 2021-09-17 23:10:00 2021-09-17 23:10:00
2    11.017727  76.990534 2021-09-18 00:55:00 2021-09-18 00:55:00
3    11.020194  76.992390 2021-09-17 23:05:00 2021-09-17 23:05:00
4    11.024900  77.010086 2021-09-17 23:00:00 2021-09-17 23:00:00
..         ...        ...                 ...                 ...
315  13.029796  80.031443 2021-09-16 02:55:00 2021-09-16 02:55:00
316  13.031107  80.031437 2021-09-16 08:20:00 2021-09-16 08:35:00
317  13.032272  80.031322 2021-09-16 03:00:00 2021-09-16 03:00:00
318  13.033472  80.031046 2021-09-16 03:05:00 2021-09-16 08:15:00
319  13.036065  80.043552 2021-09-16 08:45:00 2021-09-16 08:45:00

[320 rows x 4 columns]

In [190]:
df_nl3753_stoppage['max'] = pd.to_datetime(df_nl3753_stoppage['max'])

In [191]:
df_nl3753_stoppage['min'] = pd.to_datetime(df_nl3753_stoppage['min'])

In [192]:
df_nl3753_stoppage['diff'] = df_nl3753_stoppage['max'] - df_nl3753_stoppage['min']

In [218]:
df_nl3753_stoppage['diff'].count()

320

In [222]:
df_nl3753_stoppage_stop = df_nl3753_stoppage[df_nl3753_stoppage['diff'] >= '1:00:00']

In [334]:
df_nl3753_stoppage_stop

,Latitude,Longitude,min,max,diff
0,11.012391,76.985638,2021-09-17 23:15:00,2021-09-18 00:50:00,0 days 01:35:00
22,11.121815,77.191546,2021-09-17 14:10:00,2021-09-17 22:05:00,0 days 07:55:00
91,11.517723,77.928614,2021-09-18 04:10:00,2021-09-18 11:40:00,0 days 07:30:00
93,11.517840,77.928544,2021-09-16 21:50:00,2021-09-17 10:20:00,0 days 12:30:00
258,12.908352,79.408704,2021-09-18 20:20:00,2021-09-18 23:54:00,0 days 03:34:00
265,12.912272,79.320173,2021-09-16 11:30:00,2021-09-16 12:40:00,0 days 01:10:00
302,12.994010,80.012742,2021-09-16 00:45:00,2021-09-16 02:30:00,0 days 01:45:00
318,13.033472,80.031046,2021-09-16 03:05:00,2021-09-16 08:15:00,0 days 05:10:00



###

In [299]:
df_nl3753_new = df_nl3753[0:567]

In [406]:
df_nl3753_new.shape

(567, 12)

In [301]:
df_nl3753_new.tail(1)

,"Lat,Lngt",Period,Latitude,Longitude,dealer_lat_3753,dealer_long_3753,Distance,Status,start_dt,end_dt,Time_diff_temp,Time_diff
566,"11.012391,76.985638",17/09 23:10 : 17/09 23:15,11.012391,76.985638,11.013119,76.980129,0.61,Unloading-Point,2021-09-17 23:10:00,2021-09-17 23:15:00,0 days 00:05:00,0 days 00:05:00

In [302]:
df_nl3753_new['Status'].value_counts()

In-transit         566
Unloading-Point      1
Name: Status, dtype: int64

In [303]:
df_nl3753_new['Time_diff'] = [x.iloc[-1] - x.iloc[0] for x in df_nl3753_new['end_dt'].rolling(2) if len(x)>0]

In [304]:
df_nl3753_new['Time_diff'].value_counts()

0 days 00:05:00    566
0 days 00:00:00      1
Name: Time_diff, dtype: int64

In [305]:
df_nl3753_new['Time_diff'].sum()

Timedelta('1 days 23:10:00')

In [308]:
dt1 = '2021-09-16 00:05:00'
d1 = pd.to_datetime(dt1)
dt2 = '2021-09-17 23:15:00'
d2 = pd.to_datetime(dt2)

a = d2-d1
a

Timedelta('1 days 23:10:00')

In [306]:
df_nl3753_new.head(1)

,"Lat,Lngt",Period,Latitude,Longitude,dealer_lat_3753,dealer_long_3753,Distance,Status,start_dt,end_dt,Time_diff_temp,Time_diff
0,"13.027363,80.029651",16/09 00:00 : 16/09 00:05,13.027363,80.029651,11.013119,76.980129,400.18,In-transit,2021-09-16,2021-09-16 00:05:00,0 days 00:05:00,0 days

In [307]:
df_nl3753_new.tail(1)

,"Lat,Lngt",Period,Latitude,Longitude,dealer_lat_3753,dealer_long_3753,Distance,Status,start_dt,end_dt,Time_diff_temp,Time_diff
566,"11.012391,76.985638",17/09 23:10 : 17/09 23:15,11.012391,76.985638,11.013119,76.980129,0.61,Unloading-Point,2021-09-17 23:10:00,2021-09-17 23:15:00,0 days 00:05:00,0 days 00:05:00

In [318]:
df_nl3753_new['Time_diff'] = df_nl3753_new['Time_diff'].astype(str)

In [320]:
df_nl3753_new['Time_diff'] = pd.to_timedelta(df_nl3753_new['Time_diff'])

In [322]:
df_nl3753_new['Time_diff'].sum()

Timedelta('1 days 23:10:00')

In [325]:
t = df_nl3753_new.groupby('Lat,Lngt').agg({'Time_diff': np.sum})

In [407]:
t.count()

Time_diff    194
dtype: int64

In [393]:
t['Time_diff'].value_counts()

0 days 00:05:00    177
0 days 00:10:00      6
0 days 00:15:00      2
0 days 00:30:00      1
0 days 00:25:00      1
0 days 12:35:00      1
0 days 05:15:00      1
0 days 00:20:00      1
0 days 00:45:00      1
0 days 08:00:00      1
0 days 01:15:00      1
0 days 01:50:00      1
Name: Time_diff, dtype: int64

In [330]:
t['Time_diff'].sum()

Timedelta('1 days 23:10:00')

In [331]:
test = t[t['Time_diff'] >= '1:00:00']

In [409]:
test

                          Time_diff
Lat,Lngt
11.121815,77.191546 0 days 08:00:00
11.51784,77.928544  0 days 12:35:00
12.912272,79.320173 0 days 01:15:00
12.99401,80.012742  0 days 01:50:00
13.033472,80.031046 0 days 05:15:00

In [ ]:
## API

In [353]:

url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/80.029651,13.027363;76.980129,11.013119;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 499291.1, 2194893.2]],
  'code': 'Ok',
  'durations': [[0, 35126.1, 146239.2]]},
 'responseCode': 200}

In [354]:
499291.1/1000

499.2911

In [ ]:
# google maps - 496/ 489
# map my ind - 500/502

In [ ]:
13.027363,80.029651
11.013119,76.980129